
# Supabase env
SUPABASE_URL="<url>"
SUPABASE_KEY="<key>"

# Supabase database
SUPABASE_DB_URL_LOCALLY=postgresql://postgres:[YOUR-PASSWORD]@db.nawrrtisadhdlrxncqbu.supabase.co:5432/postgres
SUPABASE_DB_URL_NETLIFY=postgres://postgres:[YOUR_PASSWORD]@db.nawrrtisadhdlrxncqbu.supabase.co:6543/postgres?pgbouncer=true&connection_limit=1

# Stripe env
NUXT_STRIPE_SECRET="<secret key>"
NUXT_PUBLIC_STRIPE_KEY="<publishable key>"

NUXT_STRIPE_WEBHOOK_SECRET="<secret_from_stripe_cli>"
